### Build artifacts ###
target/
**/target/
debug/
release/

### Cargo ###
.cargo-ok

### Tooling ###
.rustup/

### IDEs & Editors ###
.vscode/
.idea/
*.code-workspace
*.swp
*.swo
*~

### OS ###
.DS_Store
Thumbs.db

### Logs ###
logs/
*.log

*.profraw
